body {
    background-color: burlywood;
}
.field {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 160px;
    margin: 75px auto;
    font-family: 'Rubik', sans-serif;
}

.cell {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    background-color: gray;
    text-align: center;
}

.open_cell {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    background-color: rgb(188, 188, 188);
    font-weight: 800;
    line-height: 20px;
    text-align: center;
}
.empty_cell {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    background-color: rgb(188, 188, 188);
}

h1, p {
    text-align: center;
}

p {
    margin: 5px;
    font-size: 20px;
    font-weight: 600;
}

.flags_quantity {
    color: forestgreen;
}
.mines_quantity {
    color: darkred;
}

.flag {
    background-image: url(https://i.ibb.co/rMZmDkg/flag.png);
    /* background-image: url(./images/flag.png); */
    background-size: 100%;
    width: 20px;
    height: 20px;
    border: 1px solid black;
}

.mine {
    /* background-image: url(https://i.ibb.co/n3Kw7RS/mine.png); */
    background-image: url(./mine.png);
    background-size: 100%;
    width: 20px;
    height: 20px;
    border: 1px solid black;
}

.exploded_mine {
    /* background-image: url(https://i.ibb.co/gyvq7GF/exploded-mine.png); */
    background-image: url(./exploded\ mine.png);
    background-size: 100%;
    width: 20px;
    height: 20px;
    border: 1px solid black;
}

.btnStartOver {
    width: 11%;
    height: 40px;
    display: block;
    position: absolute;
    left: 45%;
    margin: 10px auto;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    background-color: aquamarine;
}

.victory {
    width: 20%;
    color: darkgreen;
    padding: 20px;
    background-color: lightgreen;
    position: absolute;
    left: 40%;
    top: 38%;
    text-align: center;
    box-shadow: 3px 3px 20px seagreen;
    font-size: xx-large;
}